@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("/fonts/cabinetGrotesk/CabinetGrotesk-Light.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/raleway/Raleway-Regular.woff") format("woff");
}
